@using KitapSatis.Entities.Messages
@model List<HataMesajObj>
@{
    ViewBag.Title = "Hesap Geçersiz";
}

<link href="~/Content/giris-uye.css" rel="stylesheet" />
<section class="login-info">
    <div class="container">
        <div class="row main">
            <div class="form-header">
                <h1 class="text-center ">Yönlendiriliyorsunuz...</h1>
            </div>
            <div class="main-content">

                <div class="text-danger ">
                    <h2><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;&nbsp;Hesap geçerli değil.</h2>
                    <hr />
                    <p class="text-justify">
                        @foreach (HataMesajObj hata in Model)
                        {
                            @hata.Mesaj <br>
                        }
                    </p>

                </div>


            </div>
        </div>
    </div>
</section>
<script>
    $(function () {
        setTimeout(function () {
            window.location = "/Home/Index";
        }, 10000);

    });
</script>


